body {
 background: #e6ecf0;
 padding: 0px;
 margin: 0px;
 position: relative;
font-family: Helvetica;
}
.background_image {
    width: 100%;
    height: 320px;
    background-color: #9e9e9e;
    background-image: url("../images/sutt.jpg");
    background-size: cover;
    background-position: 0px -90px;

}
.nav_container {
 width: 100%;
 height: 60px;
 padding-left: 300px;
 box-sizing: border-box;
 display: flex;
 background-color: #fff;
 flex-direction: row;
 box-shadow: 0 1px 3px 0  rgba(0, 0, 0.25);
}
.nav_link_container {
    padding: 9px;
    margin-right: 12px;
}
.nav_link {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    background-color: #e2e9ed;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    color: #66757f;
}
#avatar_container {
    width: 210px;
    height: 210px;
    border-radius: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 60px;
}
#avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: contain;
}
.home_body_container {
    width: 100%;
    padding-top: 40px;
    display: flex;
    box-sizing: border-box;
}
.left_pane {
    width: 310px;
    height: 80px;
    padding-left: 60px;
    padding-top: 10px;
    box-sizing: border-box;
}
.right_pane {
    width: 70%;
    height: 250px;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 7px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
    color: #212121;
}
.name {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    margin-right: 2px;
}
.sub_text {
    font-size: 14px;
    color: #657786;
    font-weight: lighter;
    letter-spacing: 0.1px;
}